@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1EFE8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: 'black';
  background: "#F1EFE8";
  font-family: Arial, Helvetica, sans-serif;
}
