@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1efe8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: "black";
  background: "#F1EFE8";
  font-family: Arial, Helvetica, sans-serif;
}

.border2 {
  border: 1px solid black;
}

/* Remove arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
